Today we are working on Python using Google Colab, we learnt about the following variables in Python.

**Strings**
These are usually letters which have to be enclosed in quotation marks: e.g  "Shammah", "Favour", "Nathan", "Abideen" etc. Strings can sometimes be combined with other variables like numbers using the **f string method**

**Floats**
These are decimal numbers type Variable e.g 29.99, 30.75, and so on and so forth.

**Integers**
These are basically just numbers. e.g 90, 100, 100000, 787627557.

**Boolean**
These are True/False Statemnts, in the entire data session they're the most tricky, cause in as much as just putting **true** in a sentence can trigger a **Boolean** command

In [ ]:
print ("Hello Shammah")

Hello Shammah

In [ ]:
order_total = 250.0

Customer_Name = "Shammah Ibitomi"
Product_id = "PROD_12345"
order_total = 250.50
message = f"Your order total is $(order_total)"

In [ ]:
order_total = 250.50
#message = "Your order total is" + "order_total"
message = f"Your order total is ${order_total}"
message

'Your order total is $250.5'

In [ ]:
customer_name = "Shammah Ibitomi"
product_id = "PROD_12345"

product_id_lower = product_id.lower()

product_id_lower

'prod_12345'

In [ ]:
transactions = [50.25, 120.00, 35.75, 200.00, 15.50]
transactions.append(80)
#first_transaction = transactions[2]
transactions

[50.25, 120.0, 35.75, 200.0, 15.5, 80]

In [ ]:
transactions = [50.22, 30.33, 40.44]

first_transaction = transactions[2]
first_transaction

40.44

In [ ]:
transactions =

In [ ]:
transactions = [50.25, 120.00, 35.75, 200.00, 15.50]
transactions.sort()
#first_transaction = transactions[2]
transactions

[15.5, 35.75, 50.25, 120.0, 200.0]

In [ ]:
customer = {
"id" : 12345,

"name": "Shammah Ibitomi",

"email": "ibitomishammah@gmail.com",

"is_premium": True,

"total_purchases": 5,

"customer_phone_number": ["09130740144"]
}
customer_name = customer["name"]
customer_name

'Shammah Ibitomi'

In [ ]:
customer_name = customer["name"]# "Shammah Ibitomi"

In [ ]:
discounted_prices = []

original_prices = [100, 200, 75, 300]

for price_item in original_prices:

   discounted_price = price_item * 0.9 # 10% off

   discounted_prices.append(discounted_price)

print(discounted_prices)

[90.0, 180.0, 67.5, 270.0]

In [ ]:
def greet_customer(name):

  print(f"Hello, {name}! Thank you for your purchase.")

#greet_customer("Shammah")

greet_customer("Olatunji")

Hello, Olatunji! Thank you for your purchase.